/* view-map.module.css */

/* Marker popup container */
.markerPopup {
    position: absolute;
    background-color: rgb(132, 32, 32);
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Ensure popup is above the map */
    max-width: 900px;
}

.markerPopup.active {
    display: block;
}

.markerPopup h3 {
    margin-top: 0;
    font-size: 16px;
}

.markerPopup form {
    display: flex;
    flex-direction: column;
}

.markerPopup label {
    margin-bottom: 8px;
}

.markerPopup input[type="text"],
.markerPopup textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.markerPopup .buttonGroup {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.markerPopup .buttonGroup button {
    margin-left: 8px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

/* Loading component */
.loadingComponent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}