@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

//helpers
@import "./helpers/variables";

body {
  margin: 0;
  padding: 0;
  font-family: $fontPrimary !important;
}

* {
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: -sharpa1a3a9;
    border-radius: 3px;
    border-radius: 10px;
    background-color: #cac9cc;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent !important;
  }

  /* Define a specific background color for autofilled inputs */
  input:-webkit-autofill {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
    height: 0px !important;
    padding: 12px;
  }

  /* Maintain consistent style across different states */
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    background-color: white !important;
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: #000 !important;
    height: 0px !important;
  }

  input {
    color: $blackColor !important;
  }
}

.errorComponent {
  color: $secondaryColor;
  font-size: clamp(11px, 0.69vw, 13px);
  font-family: $fontPrimary;
}
button {
  box-shadow: none !important;
}
// @import "./helpers/sideNavbar";
@import "./helpers/navbar";
// @import "./helpers/baseLayout";
@import "./helpers/table";
// @import "./helpers/dialog";

//auth module
@import "./signin.scss";
@import "./Maps/index.scss";
@import "./Maps/AddMap.scss";
@import "./Maps/ShareLink.scss";
